/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --red: red;

  --font-basic: "inter";
  --font-accent: "PressStart2P";
  --weight-title: 715;
  --weight-text: 410;

  --slider: black;
  --button-bg: white;
  --button-color-text: white;

  --heart-core: transparent;
  --heart-body: transparent;
  --haert-contour: #000;
  --heart-sparks: transparent;
  --floppy: white;
}

@media (width <= 500px) {
.header__card {
  margin-bottom: 52px;
}

  .header__title {
    font-size: 49px;
  }

  .header__subtitle {
    font-size: 14px;
  }

  .card {
    margin-top: 47.5px;
  }

  .card__text {
    margin-top: 25.7px;
  }

  .footer__save {
    width: 306px;
    height: 85px;
    flex-direction: column;
  }

  #img__floppy {
    width: 28px;
    height: 28px;
    margin: -5px 6px 8px 0;
  }

  footer .button__text {
    margin-right: 7px;
  }

  #dialog {
    width: 340px;
    padding: 30px 40px;
  }
}

