/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --red: red;
  --black: black;
  --white: white;
  --transparent: transparent;

  --font-basic: "inter";
  --font-accent: "PressStart2P";
  --weight-title: 715;
  --weight-text: 410;

  --border-color: var(--black);
  --slider: var(--black);
  --button-bg: var(--white);
  --button-color-text: var(--white);

  --heart-core: var(--transparent);
  --heart-body: var(--transparent);
  --haert-contour: var(--black);
  --heart-sparks: var(--transparent);
  --floppy: var(--white);
}

@media (width <= 500px) {
.header__card {
  margin-bottom: 52px;
}

  .card {
    margin-top: 47.5px;
  }

  .card__text {
    margin-top: 25.7px;
  }

  .footer__save {
    width: 306px;
    height: 85px;
    flex-direction: column;
  }

  #img__floppy {
    width: 28px;
    height: 28px;
    margin: -5px 6px 8px 0;
  }

  footer .button__text {
    margin-right: 7px;
  }

  #dialog {
    width: 340px;
    padding: 30px 40px;
  }
}

